
<div>
  <div class="w-full flex bg-color-blue md:h-[50px] h-[100px] text-white px-3 gap-[35%] py-3 md:px-[5%] md:gap-[45%] items-center">
    <i class="fa-solid fa-bars md:text-2xl text-xl"></i>
    <h2>HOME</h2>
  </div>
  <div class="flex flex-col w-full gap-2 mt-[10px]">
    <% @groups.each do |group| %>
      <%= render partial: 'shared/group_card', locals: {group: group} %>
    <% end %>
  </div>
  <%= link_to 'Add a new category', new_group_path, class: "text-white bg-color-green hover:bg-color-gray focus:outline-none focus:ring-4 focus:ring-gray-300 text-xl px-3.5 py-2.5 block mt-5 w-[192px] mx-auto" %>
</div>



