<a href="#" id="<%= entity.id %>" class="flex items-center w-[95%] md:w-1/2 mx-auto border-gray-200 shadow hover:bg-gray-100 hover:border-2 bg-white h-[75px] border">
  <div class="w-full h-full flex justify-between items-center px-3">
    <h1 class="text-color-gray text-xl"><%= entity.name %></h1>
    <span class="font-extrabold"><%= "$#{entity.amount}" %></span>
  </div>
</a>