<div class="md:w-[50%] mx-auto w-full h-screen relative">
  <h1 class="md:text-4xl text-2xl font-extrabold w-[40%] ml-[30%] px-4 absolute top-[35%] md:px-[10%]"><span class="italic">i</span>-budget</h1>
  <div class="flex flex-col w-[95%] md:w-[40%] gap-3 ml-[2.5%] absolute bottom-3 md:ml-[30%]">
    <%= link_to "LOG IN", new_user_session_path, class: "text-white font-bold bg-color-blue hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm py-4 text-center" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "text-gray-700 font-bold hover:border hover:border-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm py-4 text-center" %>
  </div>
</div>